p {
  font-weight: bold;
}

.space-between {
  margin: 1em 0 0;
}

.space-between > a {
  color: #fff;
  display: inline-block;
  margin: 0.5em 1em 0.5em 0;
}

.space-between > a:active {
  color: #fff;
}

.space-between {
  border-top: 1px solid #eee;
}
@media screen and (min-width: 1000px) {
  .space-between {
    display: flex;
    justify-content: space-between;
  }
}
