[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"

[packages]
numpy = "*"
scipy = "*"
obspy = ">1.2.0"
pycurl = "*"

authlib = "*"
cryptography = "*"
databases = {extras = ["postgresql", "sqlite"],version = "*"}
fastapi = "*"
httpx = "==0.11.1"
openpyxl = "*"
orm = "==0.1.5"
pydantic = "==1.4"
sqlalchemy = "*"
uvicorn = "*"
typesystem = "==0.2.4"

[pipenv]
allow_prereleases = true
