[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"

[packages]
numpy = "*"
scipy = "*"
obspy = ">1.2.0"
pycurl = "*"
authlib = "*"
databases = {extras = ["postgresql", "sqlite"],version = "*"}
fastapi = "*"
orm = "*"
pydantic = "*"
sqlalchemy = "*"
uvicorn = "*"
typesystem = "==0.2.4"
httpx = "==0.11.1"
cryptography = "*"

[pipenv]
allow_prereleases = true
