[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "==20.8b1"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
safety = "*"
webtest = "*"

[packages]
numpy = "*"
scipy = "*"
obspy = "*"
pycurl = "*"

# web service dependencies
authlib = "*"
cryptography = "*"
databases = {extras=["postgresql", "sqlite"], version = "==0.3.2"}
fastapi = "*"
gunicorn = "*"
httpx = "==0.11.1"
openpyxl = "*"
pydantic = "*"
sqlalchemy = "*"
sqlalchemy-utc = "*"
typing = "*"
typing-extensions = "*"
uvicorn = {extras=["standard"], version="*"}

[pipenv]
allow_prereleases = true
