<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}"
    />
  </head>
  <body>
    <nav>
      {% if current_user.is_authenticated %} Logged in as {{ current_user.email
      }}
      <a href="{{ url_for('login.logout') }}">Log Out</a>
      {% else %}
      <a href="{{ url_for('login.login') }}">Log In</a>
      {% endif %}
    </nav>

    <main>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      <header>{% block header %}{% endblock %}</header>

      {% block content %}{% endblock %}
    </main>
  </body>
</html>
