{% block header %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='usage.css') }}"
/>
{% endblock %} {% block content %}

<h2>Example Requests</h2>

<dl>
  <dt>BOU observatory data for current UTC day in IAGA2002 format</dt>
  <dd>
    <a href="{{ request.url }}?id=BOU">
      {{ request.url }}?id=BOU
    </a>
  </dd>

  <dt>BOU observatory data for current UTC day in JSON format</dt>
  <dd>
    <a href="{{ request.url }}?id=BOU&format=json">
      {{ request.url }}?id=BOU&format=json
    </a>
  </dd>

  <dt>BOU electric field data for current UTC day in IAGA2002 format</dt>
  <dd>
    <a href="{{ request.url }}?id=BOU&elements=E-N,E-E">
      {{ request.url }}?id=BOU&elements=E-N,E-E
    </a>
  </dd>
</dl>
<p>
  <a href="examples.php">See more examples</a>
</p>

<h2>Request Limits</h2>

<p>
  To ensure availablility for users, the web service restricts the amount of
  data that can be retrieved in one request to
  <strong>345600 samples</strong>
  . The amount of data requested is computed as follows, where interval is the
  number of seconds between starttime and endtime:
</p>

<pre>
  samples = count(elements) * interval / sampling_period
</pre>

<p>
  This is equivalent to one day of second data in iaga2002 format (
  <code>345600 samples = 4 elements * 24 hours * 3600 samples/hour</code>
  ).
</p>

<h2>Parameters</h2>
<dl>
  <dt>id</dt>
  <dd>
    Observatory code. Required.
    <br />
    Valid values: {% for observatory in valid_observatories %}
    <code>{{ observatory }}</code>
    {% if not loop.last %} , {% endif %} {% endfor %}
  </dd>

  <dt>starttime</dt>
  <dd>
    Time of first requested data.
    <br />
    Default: start of current UTC day
    <br />
    Format: ISO8601 (
    <code>YYYY-MM-DDTHH:MM:SSZ</code>
    )
    <br />
    Example:
    <code>2020-03-06T16:59:53Z</code>
  </dd>

  <dt>endtime</dt>
  <dd>
    Time of last requested data.
    <br />
    Default: starttime + 24 hours
    <br />
    Format: ISO8601 (
    <code>YYYY-MM-DDTHH:MM:SSZ</code>
    )
    <br />
    Example:
    <code>2020-03-06T16:59:53Z</code>
  </dd>

  <dt>elements</dt>
  <dd>
    Comma separated list of requested elements.
    <br />
    Default:
    <code>X,Y,Z,F</code>
    <br />
    Valid values: {% for element in valid_elements %}
    <code>{{ element }}</code>
    {% if not loop.last %} , {% endif %} {% endfor %}

    <br />
    <small>
      NOTE: the USGS web service also supports specific EDGE channel codes. For
      example:
      <code>UK1</code>
      is "electronics temperature"
    </small>
  </dd>

  <dt>sampling_period</dt>
  <dd>
    Interval in seconds between values.
    <br />
    Default:
    <code>60</code>
    <br />
    Valid values: {% for sampling_period in valid_sampling_periods %}
    <code>{{ sampling_period }}</code>
    {% if not loop.last %} , {% endif %} {% endfor %}
  </dd>

  <dt>type</dt>
  <dd>
    Type of data.
    <br />
    Default:
    <code>variation</code>
    Valid values: {% for data_type in valid_data_types %}
    <code>{{ data_type }}</code>
    {% if not loop.last %} , {% endif %} {% endfor %}

    <br />
    <small>
      NOTE: the USGS web service also supports specific EDGE location codes. For
      example:
      <code>R0</code>
      is "internet variation",
      <code>R1</code>
      is "satellite variation".
    </small>
  </dd>

  <dt>format</dt>
  <dd>
    Output format.
    <br />
    Default:
    <code>iaga2002</code>
    <br />
    Valid values:
    <code>iaga2002</code>
    ,
    <code>json</code>
    .
  </dd>
</dl>

{% endblock %}
